{% import "bootstrap/wtf.html" as wtf %}
{%- extends "layouts/master_layout.html" %}
{% block content %}
<link rel="icon" type="image/jpg" href="{{url_for('static', filename='icon/favicon.png')}}">
 <img src="{{url_for('static', filename='icon/bg2.png')}}" style="width:100%">



<div class="container" align="center">
    <span class="float-center"><a href="{{ url_for('.college') }}" class="button1"><b>HOME</b></a></span> <br> <br> <br>
        <div class="row">
            <div class="col">
                {{ wtf.quick_form(form, url_for('.coregister'), "post", enctype="multipart/form-data", id="enrollform")}}
            </div>
        </div>
</div>

<br>
<br>
<script src="{{ url_for('static',filename='js/signup.js')}}"></script>

<br>
<br>
{%- endblock %}