{%- extends "layouts/master_layout.html" %}
{# Lloyd Kayle L. Undag and Jolandex Indino #}
{# CSC 181 • SSIS #}
{# Second Commit #}

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

{% import "bootstrap/utils.html" as utils %}
{% block content %}
    
<img src="{{url_for('static', filename='icon/header.png')}}" style="width:100%">
              <div align="center">  
                <span class="float-center"><a href="{{ url_for('.index') }}" class="button1"><b>STUDENT</b></a></span>  &emsp; &emsp;
                <span class="float-center"><a href="{{ url_for('.college') }}" class="button1"><b>COLLEGE</b></a></span> 
              </div>
              <img src="{{url_for('static', filename='icon/bg4.png')}}" style="width:100%">
              <br>
              <br>
              <div align="center">  
                <span class="float-center"><a href="{{ url_for('.couregister') }}" class="button"><b>Create a Course</b></a></span>  
              </div>

            <div class="container">
              <div class="col">
            {% with messages = get_flashed_messages() %}
            <div class="message">
              {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }} <span class="close-btn" onclick="this.parentElement.remove()">✕</span></li>
                {% endfor %}
                </ul>
              {% endif %}
            </div>
            {% endwith %}

            <br>
            <table class="table align-center">
                <thead>
                <tr>
                    <th>Course Code</th>
                    <th>Course Name</th>
                    <th>Action</th>
                </tr>
	            </thead>
	            <tbody>
		        {% for course in data %}
		            <tr>
			            <td>{{course[2]}}</td>
                  <td>{{course[1]}}</td>
                        <td>
                            <button class="btn btn-primary" data-toggle="modal" data-target="#modalread{{course[0]}}">Details</button> 
                            <button class="btn btn-warning" data-toggle="modal" data-target="#modaledit{{course[0]}}">Edit</button> 
                            <button class="btn btn-danger btn-delete" data-id="{{course[0]}}">Delete</button>
                        </td>
		            </tr>

                <div id="modalread{{course[0]}}" class="modal fade" style="font-color:black" role="dialog">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class = "modal-header">
    
                        <h4 class="modal-title" style="color:black"> {{course[1]}} </h4>
                      </div>
                    <div class="modal-body">
      
                        <div class="form-group" align="center">
                        <br>
                        <p><b>Course Code:</b>&ensp;{{course[2]}} </p>
                        <p><b>Course Name:</b>&ensp;{{course[1]}} </p>

                        </div>
                    <div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> 
    
                      </div>
                    </div>
                  </div>
                </div>
		        
	            </tbody>

              {% for course in data %}
              <div id="modaledit{{course[0]}}" class="modal fade" role="dialog" style="font-color:black">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class = "modal-header">
  
                      <h4 class="modal-title"> Update Information </h4>
                    </div>
  
                    <div class="modal-body">
                      
                      <form action="course/edit/{{course[0]}}" method="post" class="form" enctype="multipart/form-data" role="form">
  
                      <div class="form-group" align="center">
                        <br>
                        <label for="lastname">Course Code</label>
                        <input type ="text" class="form-control" name="lastname" value="{{course[2]}}">
                        <br>
                        <br>
                        <label for="firstname">Course Name</label>
                        <input type ="text" class="form-control" name="firstname" value="{{course[1]}}">
                        <br>
                        <br>
                        <input class="btn btn-default" id="submit" name="submit" type="submit" value="Update"></input>
                      </div>
  
  
                      <div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary " data-dismiss="modal">Close</button> 
                          
                          
                        </div>
                    </div>
                    </form>
  
                  
                  </div>
                </div>
                </div>
                </div>
              </div>
                        
                  </div>

                
                </div>
              </div>
            </div>


            {% endfor %}
      
                        </div>
                      </div>
                    </div>
                  </div>
      
                  {% endfor %} 
            </table>
            {% for course in data %}
            
            {% endfor %}


        </div>
    </div>
{%- endblock %}
{% block scripts%}
{{super()}}
<script>
    var url = "{{ url_for('.deletecourse') }}";
</script>
<script src="{{ url_for('static',filename='js/index.js')}}"></script>

<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}