{% import "bootstrap/wtf.html" as wtf %}
{%- extends "layouts/master_layout.html" %}
{% block content %}
<div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">
                    <a href="{{ url_for('.index') }}"></a>
                </li>
            </ol>
        </nav>
        <div class="row">
            <div class="col">
                {{ wtf.quick_form(form, url_for('.register'), "post", enctype="multipart/form-data", id="enrollform")}}
            </div>
        </div>
</div>
<script src="{{ url_for('static',filename='js/signup.js')}}"></script>
{%- endblock %}
